@charset "utf-8";
@import "animate";
@import "compass/css3";

.home{
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	height:100px;
	font-size: 30px;
	color: #fff;
	background-color: red;
}
